
ArduinoControlGUI/obj/Debug/ArduinoControlGUI.csproj.AssemblyReference.cache
.vs/ArduinoControlGUI/FileContentIndex/b74b070e-fbca-4ebf-bf72-f1ebf95f7b5c.vsidx
.vs/ArduinoControlGUI/FileContentIndex/eb7c0f3d-48b3-4541-bf6c-3ff84d9770c9.vsidx
